  /*--------------------------contact-Mobile-------------------------*/
 body{
    background-image: url(../images/composition-toy-airplanes-passport-hat.jpg);
    background-size: 300%;
    object-fit: fill;
 }
  

  .RDV{
    font-family: 'Pacifico', cursive;
    font-size: 24px;

  }

  h2{
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    position: relative;
    left: 25%;
  }

  .droite{
    background-image: url(../images/illustration_formulaire.jpg);
    width: 60%;
    background-size: cover;
    
}
   
.box-form2 {
display: flex;
flex-direction: row;
background-color: white;
width: 100%;
height: 85vh;
box-shadow: 5px 4px 69px 0px rgba(0, 0, 0, 0.1);
border-radius: 30px;
max-width: 1100px;
max-height: 900px;
margin: auto;
margin-top: 5vh;
margin-bottom: 5vh;


}
.formul {
    padding: 80px ;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 35%;
    
    
    
    }
    
    .fc{
        font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-weight: 600;
    margin-bottom: 20px;
    }
    
    .rc{
        color: #8d8d8d;
        font-family: 'Pacifico', cursive;
        font-size: 15px;
        line-height: 1.5em;
    }
    .boxe2   {
         display: block;
         width: 60%;
         line-height: 2em;
         font-family: 'Pacifico', cursive;
    }
    
    .name{
        display:flex;
        flex-direction: column;
         
    }
    
    .champs{
        display: flex;
        flex-direction: column;
        width: 250px;
    }
    
    .e-mail{
        width: 50%;
        font-family: 'Pacifico', cursive;
         margin-top: 25px;
         
    }
    .message{
        margin-bottom: -10px;
        font-family: "poppins-regular";
        margin-top: 15px;
    }
    
    input{
        margin: 10px;
        border: none;
        box-shadow: 0 1px 0 black ;
        outline: 0;
        font-size: 14px;
        font-family: 'Pacifico', cursive;
        color: #989898;
        border-bottom: 1px solid 
        
    
        
    }
    .champs input:focus{
        border-bottom-color: #2E91FF;
        
    
    }
    input:hover{
        transform: scale(1.04);
    }
    ::placeholder{
        font-size: 1.2em;
        font-family: "poppins-regular";
    }
    
    .envoyer{
        margin-top: 30px;
        margin-left: 60px;
        background-color: #1886FF ;
        height: 55px;
        width: 155px;
        font-size: large;
        cursor: pointer;
        
        
    }
    
    .envoyer:hover{
        transform: scale(1.1);
        
    }


    /*----------------------------TABLETTE------------------------------------*/
    

  /*-----------------------------Contact-desktop------------------------------*/

  @media screen and (min-width:601px) {
    body{
        background-image: url(../images/composition-toy-airplanes-passport-hat.jpg);
        background-size: 200%;
        object-fit: fill;
     }


    .RDV{
        font-family: 'Pacifico', cursive;
        font-size: 24px;
    
      }
    
      h2{
        font-family: 'Pacifico', cursive;
        font-size: 32px;
        position: relative;
        left: 25%;
      }
    
  
       
    .box-form2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 88vh;
    box-shadow: 5px 4px 69px 0px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-width: 800px;
    max-height: 900px;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
    
    }
    .formul {
        padding: 150px ;
        display: flex;
        padding-top: 25px;
        flex-direction: column;
        text-align: left;
        width: 40%;
        
        
        
        }
        
        .fc{
        font-family: 'Pacifico', cursive;
        font-weight: normal;
        font-weight: 600;
        margin-bottom: 20px;
        }
        
        .rc{
            color: #8d8d8d;
            font-family: 'Pacifico', cursive;
            font-size: 15px;
            line-height: 1.5em;
        }
        .boxe2   {
             display: block;
             width: 70%;
             line-height: 2em;
             font-family: 'Pacifico', cursive;
        }
        
        .name{
            display:flex;
            flex-direction: column;
             
        }
        
        .champs{
            display: flex;
            flex-direction: column;
            width: 380px;
        }
        
        .e-mail{
            width: 50%;
            font-family: 'Pacifico', cursive;
             margin-top: 25px;
             
        }
        .message{
            margin-bottom: -10px;
            font-family: "poppins-regular";
            margin-top: 15px;
        }
        
        input{
            margin: 10px;
            border: none;
            box-shadow: 0 1px 0 black ;
            outline: 0;
            font-size: 16px;
            font-family: 'Pacifico', cursive;
            color: #989898;
            border-bottom: 1px solid 
            
        
            
        }
        .champs input:focus{
            border-bottom-color: #2E91FF;
            
        
        }
        input:hover{
            transform: scale(1.04);
        }
        ::placeholder{
            font-size: 1.2em;
            font-family: "poppins-regular";
        }
        
        .envoyer{
            margin-top: 155px;
            margin-left: 180px;
            background-color: #1886FF ;
            height: 55px;
            width: 155px;
            font-size: large;
            cursor: pointer;
            
            
        }
        
        .envoyer:hover{
            transform: scale(1.1);
            
        }
    


  }

  /*------------------------------DESKTOP--------------------------------*/
  @media screen and (min-width:601px) {
    .envoyer{
        margin-top: 45px;
        margin-left: 180px;
        background-color: #1886FF ;
        height: 55px;
        width: 155px;
        font-size: large;
        cursor: pointer;
        
        
    }
    
    .envoyer:hover{
        transform: scale(1.1);
        
    }



}