@import url(//fonts.googleapis.com/css?family=Vibur);

html,
body {
  margin: 0;
  height: 100%
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}



#btn-twtr {
  clear: both;
  color: #fff;
  border: 2px solid;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  width: 13em;
  padding: 5px 10px;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.4
}

#btn-twtr:hover {
  color: #fff;
  opacity: 1
}

.logo3 {
  position: absolute;
  top: -25px;
}

.logo3 b {
  font: 20 3vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo3 b span {
  animation: blink linear infinite 2s;
}

.logo3 b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

.logo {
  display: flex;
  margin-left: 40px;
  margin-top: px;
  font-family: 'Great Vibes', cursive;
  font-size: 6vw;
  color: #ff4444;
  text-align: left;
}

header ul li {
  display: none;
  text-align: right;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
  list-style-type: none;
  font-size: 3vw;

}

.burger {
  display: flex;
  position: absolute;
  right: 50px;
  top: 20px;


}

p,
ul {
  font-size: 1em;
}

.h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-family: 'dancing script';
  color: antiquewhite;
  margin: 10px;
  font-size: 2em;
}

.h4 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.1em;
  margin-bottom: 20px;
  margin-top: 30px;
}

body {
  background-color: teal;
}

section {
  padding: 1rem;
}



.bloc-info {
  display: grid;
  background-color: turquoise;
  padding-top: 10px;
  padding-bottom: 10px
}

#section-1 button {
  justify-self: center;
  height: 3em;
  width: 6em;
  border-radius: 15%;
  background-color: blanchedalmond;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
  margin-top: 15px;
}

#section-1 h6 {
  margin: 10px;
}

#section-1 p {
  justify-self: center;
  font-family: "great vibes";
  font-weight: 1000;
  color: rgb(233, 225, 214);
  font-size: 1.3em;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

#section-2 {

}




.star {
  color: yellow;
}